*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
 }


html, body{
    background-color: #eeeeee;
}



.container-components{
    margin: 80px 5% 25% 5%;
    display: flex;
    flex-direction: column;
}




/* Estilos de la lista de productos */



.screen-component{
    display: flex;
    flex-direction: column;

}


.list-component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.list{
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    min-height: 80px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 500px;
    min-height: 80px;
    overflow: scroll;
    background-color: white;
}

.list-box{
    padding: 10px 0 10px 0;
    margin: 10px;
    max-height: 80px;
    background-color: rgb(68, 68, 68);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    max-width: 300px;
}

.list-content{

    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}


.list-state{
    width: 10%;
}

.list-detail{
    width: 90%;
}








/* Estilos de los botones globales */




.buttons-down{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}



.button button {
    margin: 1em 2em;
    padding: 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
   
.button button:hover {
    background-color: #28bf83;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
   
.button button:active {
    transform: translateY(-1px);
}

input{
    height: 40px;
    margin-right: 20px;
}

input.text{
    font-size: 15px;
}

.color-red{
    background-color: rgb(209, 35, 35) ;
}

.color-red :hover{
    background-color: rgb(154, 19, 19);
}

.color-blue{
    background-color: rgb(54, 183, 183);
}


.redpoint{
    height:10px;
    width:10px;
    background:#ff4242;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.greenpoint{
    height:10px;
    width:10px;
    background:#82c53e;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

