.homecreen-component{
    display: flex;
    flex-direction: column;
    height: 80vh;
}


.homelist-component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.homelist-list{
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    min-height: 80px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 500px;
    min-height: 80px;
    overflow: scroll;
    background-color: white;
}

.homelist-container{
    padding: 10px 0 10px 0;
    margin: 10px;
    max-height: 80px;

    background-color: rgb(68, 68, 68);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-wrap: wrap;
    color: white;
    width: 40px;
    
    min-width: 300px;
    justify-content: center;
 
   

}

.homelist-content{

    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}


.homelist-state{
    width: 10%;
}

.homelist-detail{
    width: 90%;
}














.edithomelist-container{
    margin: 20px;
    padding: 5px 10px 20px 10px;
    border: solid rgb(211, 211, 211) 1px;
    background-color: #d8d7d7;
    width: 500px;
    min-width: 200px;
    
}


.edithomelist-container input{
    width: 100%;
    border: none;
    margin: 5px 0 0 0;
    border-radius: 5px;
}


.edithomelist-form {
    padding: 10px;
    
}

.edithomelist-form label {
    color: rgb(35, 35, 35);
}

.edithomelist-form button{
    width: 100%;
    height: 40px;

    border-radius: 0px 10px 0 10px;
    border: none;
    color: white;
}

.edithomelist-form button:hover{
    opacity: .8;
    cursor: pointer;
}









.homelist-buttons{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}



.homelist-buttons i{
    font-size: 20px;
}















.redpoint{
    height:15px;
    width:15px;
    background:#ff4242;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.greenpoint{
    height:15px;
    width:15px;
    background:#82c53e;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}


.object-select {
    background-color: rgb(41, 138, 138);
}




@media only screen and (max-width: 810px){


    
    .homelist-list{
        max-height: 350px;

    }

}
