.redpoint{
    height:10px;
   width:10px;
   background:#ff4242;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
}

.greenpoint{
    height:10px;
   width:10px;
   background:#82c53e;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
}


